<h1>Hello Heroku</h1>
<p>I hope this works!</p>

<div id="board" style="position:relative;">
  <canvas id="canboard"
          height="<%=(@board.height*@canvas_scale)%>"
          width="<%=(@board.width*@canvas_scale)%>"
          style="background-color: #FF0;
              position: absolute;
              top:50px">
  </canvas>

  <script>
    $(document).ready(function(){
      <% 7.times do |i| %>
        $('<div/>', {
          id: 'drop_slot<%=i%>',
          class: 'drop_slot',
          css: {
            'background-color' : '#FF0',
            'height' : '50px',
            'width' : '50px',
            'display' : 'inline-block',
            'position' : 'relative',
            'top' : '0px'
          }
        }).on('click', function(){
          $.ajax({
            url: 'welcome/drop_disc?column=<%=i%>',
            type: 'GET',
            success: function(result){
              console.log('hello from <%=i%>')
            }
          });
        }).appendTo($('#board'));
      <%end%>
    });
  </script>

</div>

<script type="text/javascript">
  offset = function(point){
    scale = <%= @board.height * @canvas_scale %>;
    return (scale/7) * point + (scale/14);
  };
  drawCircle = function(color, context,x,y){
    context.beginPath();
    radius = <%= @canvas_scale%>/2;
    context.arc(x, y, radius - 1, 0, (2 * Math.PI), false);
    context.fillStyle = color;
    context.fill();
    context.lineWidth = 5;
  };
  drawSlots = function(context){
    for(i=0;i<7;i++){
      for(j=0;j<7;j++) {
        console.log(offset(i));
        drawCircle('green', context, offset(i), offset(j));
      }
    }
  };
  drawDisc = function(color, context, x, y){
     drawCircle(color, context, offset(x), offset(y));
  };
  $(document).ready(function(){
    var canvas = document.getElementById('canboard');
    var context = canvas.getContext('2d');
    drawSlots(context);
    drawDisc('blue', context, 2, 4);



    $('#canboard').on('click', function(){

      $.ajax({
        url: 'welcome/drop_disc',
        type: 'GET',
        success: function(result){
          console.log("get success");
          //drawCircle(context);
        },
        error: function(result, thing){
          console.log(result);
        }
      });

    });
  });
</script>

<% console %>
